<div class="product-item"  >
  <mat-card fxLayout="column" style="cursor: pointer;" (click)="openProductDialog(product)">
    <div class="product-img">
        <a class="product-link">
          <img style="object-fit:cover;" [src]="product.images[0]" alt="">
       </a>
    </div>
     <div class="product-info-wrapper">
        <div class="title-wrap">
           <h4>{{product.title}}</h4>
        </div>
        <div class="price-wrap" fxLayout="row" fxLayoutAlign="space-between center">
         <p style="font-size: 18px;">AED  {{product.price}}</p>
        </div>
        <span class="category">{{product.location}}</span>
     </div>
  </mat-card>
</div>
