






<div class="home-header">
  <div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px" fxlayoutalign="space-between center">
    <div class="logo">
      <span style="font-size: 25px;font-weight: bold;">Post Hub</span>
        <!-- <a [routerLink]="['/home/one']" routerLinkActive="router-link-active" ><img style="width: 20vh;margin-left: -3vw;" src=""></a> -->
    </div>
    <div fxflexoffset.gt-sm="10" *ngIf="!currentRoute.includes('post-view')"  fxFlex class="search-form">
        <form class="search-form" fxLayout="row">
          <div class="form-wrap">
             <input type="text" placeholder="Type to search...">
             <button class="btn-search" type="submit">Search</button>
          </div>
        </form>
       </div>
    <div class="call-bucket-wrap" fxLayout="row" fxLayout.sm="row" fxLayoutAlign="center center" >
      </div>

  </div>
</div>
<div class="menu-container1">
    <app-menu></app-menu>
</div>

