<nav
  id="navbar_top"
  class="navbar fixed-bottom navbar-expand-lg navbar-dark nav-bar"
>
  <!-- <nav id="navbar_top" class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-primary"> -->
  <div class="container-fluid outert-width">
    <div class="icon-outer">
      <img [routerLink]="['/home']" src="./assets/icons/home.png" style="width: 10%" alt="" />

      <img [routerLink]="['/home']" src="./assets/icons/chat.png" style="width: 10%" alt="" />

      <img [routerLink]="['/home']" src="./assets/icons/plus.png" style="width: 10%" alt="" />

      <img [routerLink]="['/home']" src="./assets/icons/notification.png" style="width: 10%" alt="" />

      <img [routerLink]="['/home']" src="./assets/icons/user.png" style="width: 10%" alt="" />
    </div>
  </div>
  <!-- container-fluid.// -->
</nav>
