<div class="container">
  <div class="details-wrapper sec-padding">
    <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="80">
      <div
        fxLayout="row wrap"
        fxFlex="100"
        fxFlex.gt-md="100"
        fxFlex.gt-sm="100"
      >
        <div fxFlex="100" fxFlex.gt-md="50" fxFlex.md="45">
          <mat-card class="products-image">
            <div class=" products-image-height">
              <img class="image-base-class" [src]="products.pictures[bigProductImageIndex]" />
            </div>
          </mat-card>

          <div class="small-carousel">
            <div class="swiper-container" [swiper]="config">
              <div class="swiper-wrapper">
                <div
                  *ngFor="let image of products?.pictures; let i = index"
                  class="swiper-slide"
                >
                  <mat-card (click)="selectImage(i)" class="p-1">
                    <img style="position:relative;height:100px;padding-right:10px;" [src]="image" class="swiper-lazy" />
                    <div class="swiper-lazy-preloader"></div>
                  </mat-card>
                </div>
              </div>
              <button mat-icon-button class="swiper-button-prev swipe-arrow">
                <mat-icon>keyboard_arrow_left</mat-icon>
              </button>
              <button mat-icon-button class="swiper-button-next swipe-arrow">
                <mat-icon>keyboard_arrow_right</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <div
          fxFlex="100"
          fxFlex.gt-md="50"
          fxFlex.md="55"
          ngClass.gt-sm="px-3 m-0"
          ngClass.sm="mt-2"
          ngClass.xs="mt-2"
        >
          <div class="products-right">
            <div class="products-details">
              <h3>{{ products.title }}</h3>
              <h4 class="price" style="display: flex">
                <p style="padding-right: 5px">{{ products.currency }}</p>
                {{ products.price }}
              </h4>
              <h5><span style="font-weight: bold;">Year :</span> {{products.year}}</h5>
              <h5><span style="font-weight: bold;">Location :</span> {{products.location}}</h5>
              <h5><span style="font-weight: bold;">Posted by :</span> {{products.username}}</h5>
              <h5><span style="font-weight: bold;">Contact :</span> {{products.mobile}}</h5>
              <h6><span style="font-weight: bold;">Posted On :</span> {{ products.date }}</h6>
            </div>
          </div>
        </div>
      </div>

      <div class="review-wrapper" fxFlex="100" fxFlex.md="75">
        <mat-card>
          <mat-tab-group [@.disabled]="true" [selectedIndex]="0">
            <mat-tab label="Description">
              <div class="full-desc lh">
                <p class="text-muted">{{ products.description }}</p>
              </div>
            </mat-tab>
            <mat-tab label="Details">
              <div class="full-desc lh text-muted">
                <h5><span style="font-weight: bold;">Transmission Type :</span> {{products.transmission_type}}</h5>
                <h5><span style="font-weight: bold;">Color :</span> {{products.color}}</h5>
                <h5><span style="font-weight: bold;">Kilometers :</span> {{products.kilometer}}</h5>
                <h5><span style="font-weight: bold;">Model :</span> {{products.model}}</h5>
                <h5><span style="font-weight: bold;">Body type :</span> {{products.body_type}}</h5>
                <h5><span style="font-weight: bold;">Fuel :</span> {{products.fuel}}</h5>
                <h5><span style="font-weight: bold;">Door :</span> {{products.door}}</h5>
                <h5><span style="font-weight: bold;">Horse power :</span> {{products.horse_power}}</h5>
                <h5><span style="font-weight: bold;">Make :</span> {{products.make}}</h5>
                <h5><span style="font-weight: bold;">Mechanical condition :</span> {{products.mechanical_condition}}</h5>
                <h5><span style="font-weight: bold;">Number of cylinders :</span> {{products.number_of_cylinders}}</h5>
                <h5><span style="font-weight: bold;">Specifications :</span> {{products.specs}}</h5>

              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-card>
      </div>
    </div>
  </div>
</div>
