.outer-div{
  cursor: pointer;
  padding: 1px 20px 0px 10px;
  width: 27%;
  @media(max-width: 768px) {
    width: 60%;
  }
}
.product-title{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
::ng-deep webkit-scrollbar{ width :0px; }
