<div class="product-item">
  <div class="swiper-wrapper h-100">
    <div
      *ngFor="let product of product"
      class="swiper-slide outer-div"
      (click)="productViewPage(product)"
    >
      <mat-card fxLayout="column">
        <div class="product-img" style="background: white; height: 165px">
          <img
            style="
              height: 165px;
              width: 100%;
              max-width: 100%;
              image-rendering: -webkit-optimize-contrast;
              position: relative;
              object-fit: contain;
              overflow: hidden;
            "
            src="{{ product.thumb }}"
            alt=""
          />
        </div>
        <div class="product-info-wrapper" style="background: #f0f0f5">
          <span title={{product.title}} class="category product-title">{{ product.title }}</span>
          <div class="title-wrap" style="display: flex">
            <h4 style="padding-right: 5px">{{ product.currency }}</h4>
            <h4>{{ product.price }}</h4>
          </div>
          <span class="category product-title">{{ product.location }}</span>
        </div>
      </mat-card>
    </div>
  </div>
</div>
