.outer-div{
  cursor: pointer;
  padding: 1px 20px 0px 10px;
  width: 27%;
  @media(max-width: 768px) {
    width: 60%;
  }
}
.product-title{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-item {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.product-item::-webkit-scrollbar {
  width: 0;
  height: 0;
}
